<% layout('layout/boilerplate') %>
<div class="container mt-3">
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <p>Aww yeah, you successfully read this important alert message. Now go back and write the correct domain!</p>
      <hr>
      <p class="mb-0">There was an error</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
</div>