<% layout('layout/boilerplate') %>
<div class="alert alert-success container" role="alert">
   <h4 class="alert-heading"><%= err.message %></h4>
   <p>Aww yeah, you successfully read this important alert message. Now go back and write the correct domain!</p>
   <hr>
   <p class="mb-0">there was an error</p>
</div>